/* General CSS */
html, 
body,
.App {
  margin: 0 auto;
  font-family: 'Roboto', 'Montserrat', sans-serif;
  color: var(--darkColorFull);
  background-color: var(--lightColorFull);
  background-blend-mode: normal;
  font-size: 100%;
  max-width: var(--mainWidth);
  box-sizing: border-box;
  height:calc(fit-content+15vh);
  max-height:calc(fit-content+25vh);
  padding-bottom: var(--mainBottomPadding);
}

.Header-box {
  width: var(--mainWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.topIconLink {
  text-decoration: none;
  color: var(--darkColorFull);
  color: var(--darkColorReduced);
}

.rightHeading, 
.rightHeading p,
.leftHeading,
.leftHeading h2 {
  margin: 0 auto;
}

.leftHeading h2 {
  margin-top: 16px;
}

.rightHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

/*  hovedapplikasjon  */
.App {
  text-align: center;
}

/* topline CSS */
.topline-sticky,
.topline-box {
  margin: 0 auto;
  background-color: var(--lightColorFull);
  color: var(--darkColorFull);
  padding: 0; 
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  opacity: transparent;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  z-index: 950;
}  

.topline-sticky {
  position: -webkit-sticky;
  position: sticky;
}  

.categoriesBar {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 150;
}

.topline-content-box {
  padding: 1em 3.5em 0 3.5em;
  margin: 0;
  width: var(--toplineSideWidth);
  height: 100%;
  z-index: 950;
}

.left-side-box, .right-side-box {
  background-color: transparent;
  color: var(--darkColorFull);
  width: var(--toplineSideWidth);
  z-index: 950;
}

.left-side-box {
  display: flex;
  flex-direction:row-reverse;
  justify-content: flex-start;
  align-content: center;
  padding-top: 1em;
  border-radius: 0 var(--roundCorners) var(--roundCorners) 0;
}

.right-side-box {
  border-radius: var(--roundCorners) 0 0 var(--roundCorners);
}

.menuClass {
  margin-top: 5px;
}

.IngressMain {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em 2em;
  height:fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: var(--middleSectionWidth);
  justify-content: space-evenly;
}

.IngressFrame {
  box-sizing: border-box;
  margin: 4vh auto 25vh auto;
  padding: 2em 2em;
  width: var(--ingressFrameWidth);
  height:fit-content;
  z-index: 200;
}

.card:hover {
  cursor: pointer;
}

.blurredShadow {
  border: 1px solid var(--darkColorFull);
  border-radius: var(--roundCorners);
  filter: drop-shadow(4px 3px 4px var(--darkColorFull));
}

.IngressText, .IngressHeading {
  animation-name: opacity;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  margin: 0;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ThinText {
  font-weight: 400;
}

.Pic-animation {
  animation-name: opacity;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

.responsiveSmallImg {
  position: auto;
  margin: 15px 0px 10px 10;
  padding-top:10px;
  width: 8vw;
  height: auto;
}


.responsiveTinyImg {
  position: auto;
  margin: 5px;
  padding-top:5px;
  max-width: var(--ingressImgMaxWidth);
  width: var(--ingressImgWidth);
  height: auto;
}

.smallIcon {
  height: 4rem;
  stroke-width: 6px;
  stroke: var(--warningRed);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .smallIcon {
    animation: smallIcon-spin infinite 20s linear;
  }
}

@keyframes smallIcon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarLink {
  color: var(--darkColorFull);
}

.navbarLink:hover,
.navbarLink:active{
  color: var(--darkColorReduced);
  font-weight: bolder;
}

.productList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.productList li {
  padding: 20px 0;
  border-bottom: 1px solid var(--darkColorReduced);
}

.productList li span {
  display: block;
  text-align: center;
}