:root {
  /*  Basic colors  */
  --lightColorFull: #f4e7d2;
  --lightColorReduced: #b9ae9ca4;
  --darkColorFull: #31302c;
  --darkColorReduced: #31302cba;
  --crispyWhite: #ffffff;
  --pitchDark:#000000;
    
  /*  Border & button colors  */
  --buttonHover: lightcoral;
  --warningRed: #d21e1e9e;
  --bloodRed:#ac0808;
  --batFill: var(--lightColorFull);
  --batStroke: var(--pitchDark);

  /*  Site/Size definitions  */
  --mainWidth: 100vw;
  --mainBottomPadding: 7vh;
  --toplineSideWidth: 10vw;
  --middleSectionWidth: 75vw;

  --prodBoxWidth: 18vw;
  --prodBoxHeight: 40vh;
  --prodBoxImgMaxWidth: 12vw;
  --prodBoxImgMaxHeight: 95%;
  --prodBoxContentFrameHeight: 46%;


  --buttonWidth: 4vw;
  --buttonHeight: 7vh;
  
  /* various global constants */
  --roundCorners: 16px;
  --roundishCorners: 8px;
 }
  
