:root {
  /*  Basic colors  */
  --lightColorFull: #f4e7d2;
  --lightColorReduced: #b9ae9ca4;
  --darkColorFull: #31302c;
  --darkColorReduced: #31302cba;
  --crispyWhite: #ffffff;
  --pitchDark:#000000;
    
  /*  Border & button colors  */
  --buttonHover: lightcoral;
  --warningRed: #d21e1e9e;

  /*  Site/Size definitions  */
  --mainWidth: 100vw;
  --mainBottomPadding: 7vh;
  --toplineSideWidth: 10vw;
  --middleSectionWidth: 75vw;
  --ingressBoxWidth: 33vw;
  --ingressMaxHeight: 20vh;
  --ingressImgMaxWidth: 10vw;
  --ingressImgWidth: 6vw;
  --ingressFrameWidth: 35vw;

  --buttonWidth: 4vw;
  --buttonHeight: 7vh;
  
  /* various global constants */
  --roundCorners: 16px;
  --roundishCorners: 8px;
 }
  
